/**/
        /*Main Div*/
.MainDiv{
    background-color: #CCCCFF;
    /*padding*/
    padding-top: 40px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    margin-top:20px;
}
#myNavbar{
    text-align: center;
    margin-left: 30%;
}
/*Links*/
a{
    color: #0000EE;
    font-weight: bold;
}

        /*Table*/
table {
    font-weight: bold;
    text-align: center;
    width: 100%;
}
th{
    background-color: #00b8e6;
    font-weight: bold;
}
#tableWrapper{
  color:#00467f;
  font-weight:500;
  position:absolute;
  overflow-y: auto;
  overflow-x: auto;
/*  height:300px;
  width:300px;*/
}

#tableWrapper #tableContainer{
  width: 1100px;
  overflow: hidden;
}

/*#tableWrapper tbody>tr{
  width: 1200px;
}*/

 #indxTbl th{
        text-align: center;
    vertical-align: middle;

}
 #indxTbl td{
        text-align: center;
    vertical-align: middle;

}

/*View Page Table*/

.vertical-table td{
    text-align: left;
    font-style: italic;
    font-size: 20px;

}
/*every second row*/
#scrollit tr:nth-child(even) {
    background-color: lightgrey;
}
#scrollit tr:nth-child(odd) {
   background-color:#ffffe6;
}

/*Add Customer Button*/
.btnAdd {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #0eb53b), color-stop(1, #5cbf2a));
    background:-moz-linear-gradient(top, #0eb53b 5%, #5cbf2a 100%);
    background:-webkit-linear-gradient(top, #0eb53b 5%, #5cbf2a 100%);
    background:-o-linear-gradient(top, #0eb53b 5%, #5cbf2a 100%);
    background:-ms-linear-gradient(top, #0eb53b 5%, #5cbf2a 100%);
    background:linear-gradient(to bottom, #0eb53b 5%, #5cbf2a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#0eb53b', endColorstr='#5cbf2a',GradientType=0);
    background-color:#0eb53b;
    -moz-border-radius:41px;
    -webkit-border-radius:41px;
    border-radius:41px;
    border:2px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:2px 8px;
    text-decoration:none;
    text-shadow:2px -1px 0px #2f6627;
}
.btnAdd:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #0eb53b));
    background:-moz-linear-gradient(top, #5cbf2a 5%, #0eb53b 100%);
    background:-webkit-linear-gradient(top, #5cbf2a 5%, #0eb53b 100%);
    background:-o-linear-gradient(top, #5cbf2a 5%, #0eb53b 100%);
    background:-ms-linear-gradient(top, #5cbf2a 5%, #0eb53b 100%);
    background:linear-gradient(to bottom, #5cbf2a 5%, #0eb53b 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#0eb53b',GradientType=0);
    background-color:#5cbf2a;
}
.btnAdd:active {
    position:relative;
    top:1px;
}
#myNavbar1{
    text-align: center;
    margin-left: 25%;
}
/*Add Customer Button*/
.btnAdd0 {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #000099), color-stop(1, #1a1aff));
    background:-moz-linear-gradient(top, #000099 5%, #1a1aff 100%);
    background:-webkit-linear-gradient(top, #000099 5%, #1a1aff 100%);
    background:-o-linear-gradient(top, #000099 5%, #1a1aff 100%);
    background:-ms-linear-gradient(top, #000099 5%, #1a1aff 100%);
    background:linear-gradient(to bottom, #000099 5%, #1a1aff 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000099', endColorstr='#1a1aff',GradientType=0);
    background-color:#000099;
    -moz-border-radius:41px;
    -webkit-border-radius:41px;
    border-radius:41px;
    border:2px solid #18ab29;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;
    font-size:17px;
    padding:2px 8px;
    text-decoration:none;
    text-shadow:2px -1px 0px #2f6627;
}
.btnAdd0:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #1a1aff), color-stop(1, #000099));
    background:-moz-linear-gradient(top, #1a1aff 5%, #000099 100%);
    background:-webkit-linear-gradient(top, #1a1aff 5%, #000099 100%);
    background:-o-linear-gradient(top, #1a1aff 5%, #000099 100%);
    background:-ms-linear-gradient(top, #1a1aff 5%, #000099 100%);
    background:linear-gradient(to bottom, #1a1aff 5%, #000099 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#1a1aff', endColorstr='#000099',GradientType=0);
    background-color:#1a1aff;
}
.btnAdd0:active {
    position:relative;
    top:1px;
}

.btnSearch {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 40px 5px 40px;
  text-decoration: none;
}

.btnSearch:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}


/*Nav Bar*/

.container{
    margin: auto;
    text-align: center;
}

nav{
    background-color: #004d1a;
    text-align: center;
    color: red;
}
button{
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 23px;
  background: #0ec950;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
}
.btnRtn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-size: 23px;
  background: #c70e0e;
  padding: 10px 50px 10px 50px;
  text-decoration: none;
}
/*Heads*/
#viewH4
{
    color: #BF0D00;
    font-weight: bolder;
}
#viewh6
{
    color: #FF4C4C;
    font-weight: bold;

}

#head5
{
    color: #ff1a1a;
    font-weight: bold;
}

#h6{
    font-weight: bold;
    text-align: center;
    color: black;
}

#divBorder{
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    border: 2px solid #73AD21; 
    /*padding: 20px;*/
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #ebebe0;
}
#divBorderRed{
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    border: 2px solid red; 
    /*padding: 20px;*/
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #ebebe0;
}
#divBorderPurple{
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    border: 2px solid purple; 
    /*padding: 20px;*/
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #ebebe0;
}

#divBorder1{
    margin-left: 100px;
    margin-right: 100px;
    border-radius: 10px;
    border: 2px solid #73AD21; 
    padding: 20px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: #f2f2f2;
}

#logindiv{
    background-color: #f7f7f7; 
    padding-bottom: 25px; 
    margin-top: 50px;
    border: 2px solid;
    border-radius: 5px;
}

#search{
    border: 2px solid #a1a1a1; 
    border-radius: 5px;
}
input { 
    text-align: center; 
}

#kpiP{
  color: blue;
  font-weight: bold;
}